* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family:'Roboto', sans-serif;
    font-size: 0rem;
    color: lightgreen;
}
.img-fluid {
    background-image: url('https://wallpaperaccess.com/full/3434446.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}


/* HEADING ELEMENTS */
.heading {
    text-align: center;
    width: 100%;
    background: slategray;
    color: snow;
}

.heading h1 {
    font-size: 45px;
}

.heading p {
    margin-top: 9px;
    font-size: 20px;
}

.currecy-input {
    display: flex;
    flex-direction: column;
    margin: 30px 0px;
    width: 90%;
    margin: 0 auto;
    align-items: center;
}

#euro, #gbp, #yen, #usd {
    margin: 25px;
    border: none;
    padding: 25px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 25px;
    box-shadow: 1px 1px 7px rgb(97, 97, 97);
    width: 400px;
    position: relative;
}

#euro {
    background: rgba(255, 174, 0, 0.959);
}

#gbp {
    background: rgb(10, 165, 226);
}

#yen {
    background: rgba(255, 63, 63, 0.993);
}

#usd {
    background: rgb(0, 128, 21);
}