* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family:'Roboto', sans-serif;
}

.welcome {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    top: 130px;
    font-weight: bolder;
    position: relative;
    color: darkgreen;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.text {
    position: relative;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    top: 170px;
    color: darkgreen;
    font-weight: bolder;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.btn-primary {
    position: relative;
    text-align: center;
    background-color: slategray;
    color: darkgreen;
    margin: auto;
    width: 100%;
    padding: 2px;
}
.heading {
    text-align: center;
    width: 100%;
    background: slategray;
    color: snow;
}

.heading h1 {
    font-size: 45px;
}

.heading p {
    margin-top: 9px;
    font-size: 20px;
}


.img-fluid {
    background-image: url('./money.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

p {
    position: relative;
    top: 100px;
    font-family:'Roboto', sans-serif;
    font-size: 40px;
    font-weight: bolder;
    color: green;
    text-shadow: -2px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-transform: capitalize;
    text-decoration-style: solid;
}